<!DOCTYPE html>
<html lang="es">
<head>
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>
    <form method="post" action="/calcular">
         {% if config.WTF_CSRF_ENABLED %}
            {{ form.hidden_tag() }}
         {% endif %}
         {{ form.num1(id="num1") }}
         {{ form.num2(id="num2") }}
        <select name="operacion">
            <option value="sumar">Sumar</option>
            <option value="restar">Restar</option>
            <option value="multiplicar">Multiplicar</option>
            <option value="dividir">Dividir</option>
            <option value="modulo">Módulo</option>
            <option value="potencia">Potencia</option>
        </select>
        <button type="submit">Calcular</button>
    </form>
    {% if resultado is not none %}
        <h2>Resultado: {{ resultado }}</h2>
    {% endif %}
</body>
</html>
